<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}WebBouw{% endblock title %}{% block title_suffix %}WebBouw{% endblock title_suffix %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  {% block head_includes %}
  {% endblock %}
</head>

<body>

  {% block header %}

  <header>
    <nav class="navbar navbar-dark navbar-expand-lg bg-primary">
      <div class="container-fluid custom-container text-light">
        <a class="navbar-brand" href="#">
          <img src="{{ url_for("static", filename="images/webbouw-high-resolution-logo-cropped.png" ) }}" width="300"
            height="50" class="d-inline-block align-text-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Pricing</a>
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  {% endblock header %}

  {% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2>Content Area</h2>
        <p>This is where the main content will go.</p>
      </div>
    </div>
  </div>
  <h1>Welcome to the Base Template</h1>
  <p>This is a simple base template.</p>
  {% endblock content %}

  {% block footer %}
  <section id="footer" class="bg-primary" data-bs-theme="dark">
    <div class="container-fluid custom-container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom border-white border-opacity-50 pb-3 mb-3">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
        </ul>
        <p class="text-center text-body-secondary">&copy; 2025 WebBouw</p>
      </footer>
  </section>

  {% endblock footer %}

  <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>